*{
    color: white;
}
body{
    background-color: #212121;
    overflow-x: hidden;
    


}

.navbar{
   color: white;
   background-color: #212121;
 
}
#logo :nth-child(2){
   text-decoration: line-through ;
}
.color a{
            color: rgba(255, 255, 255, 0.616);
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.432);
}
.color a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(228, 222, 222, 0.623);
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.3s;
    
}
.navbar-brand{
            text-shadow: 0 0 5px ;
}
.row .col-md-6 h1::first-letter{
    color: rgb(59, 85, 85);
    font-size: 50px;
    
}
.row .col-md-6 h1 {
    font-size: 80px;
}
#hero-right{
    transform: rotate(270deg);
    font-size: 100px;
}
#mainsImg{
opacity: 0.3;
height: 100vh;
width: 100vw;
object-fit: cover;

 }
 #mains div{
    opacity: 100%;
    z-index: 5;
 }
#iconParent i{
        font-size: 2rem;
        mix-blend-mode: lighten;
}
#iconParent i:hover{
   transform: scale(1.3);
   transition-property: all;
   transition-duration: 0.3s;
   transition-timing-function: cubic-bezier();
}
#progressImage{
            background-image: url(progress.png);
            background-size: cover;

}

.card img{
            height: 100px;
            width: 100px;
            object-fit: cover;
            margin: auto;
}


